<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/template :: header-css">
</head>
<title>Sistema de Gestão de Senhas</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<main>
		<div id="login">
			<div class="container mt-4">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" class="form" action="#"
								th:action="@{/login}" method="post">
								<h3 class="text-center text-info">Login</h3>
								<div class="form-group">
									<label for="email" class="text-info">E-mail:</label><br> <input
										type="text" name="email" id="email" class="form-control"
										required="required">
								</div>
								<div class="form-group">
									<label for="username" class="text-info">Nome:</label><br>
									<input type="text" name="username" id="username"
										class="form-control" required="required">
								</div>
								<div class="form-group">
									<label for="password" class="text-info">Senha:</label><br>
									<input type="password" name="password" id="password"
										class="form-control" required="required">
								</div>
								<div class="form-group">
									<br> <input type="submit" name="submit"
										class="btn btn-info btn-md" value="Logar">
								</div>
								<div id="register-link" class="text-right">
									<a href="cadastro/usuario" th:href="@{/cadastro/usuario}"
										class="text-info">Registrar</a>
									<div class="text-danger text-center pt-2" role="alert"
										th:if="${loginError}">Erro de usuário ou senha</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:insert="fragments/template :: footer"></div>
</body>
</html>